header, section, footer,aside, nav, article, figure, figcaption {
	display: block;
}
body {
	color: #666666;
	background-color: #f9f8f6;
	background-image: url("images/dark-wood.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
}
.wrapper{
	width: 940px;
	margin: 20px auto 29px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}
header {
	height: auto;
	background: #fec901; 
}
h1 {
	width: 940px;
	height: 170px;
	margin: 0px;
}
h1 img{
	width: 130px;
	margin: 18px 0 0 20px;
	border: solid 5px #fff;
	float: left;
}
#h1b{
	width: 300px;
	margin-top: 
}
